<tr>
	<td class ="micrpost">
		<span class ="content"><%= micrpost.content %></span>
		<span class ="timestamp">
			Posted <%= time_ago_in_words(micrpost.created_at) %> ago. 
		</span>
		
	</td>
</tr>