<tr>
	<td class ="micrpost">
		<span class ="content"><%= micrpost.content %></span>
		<span class ="timestamp">
			Posted <%= time_ago_in_words(micrpost.created_at) %> ago. 
		</span>
	</td>
	<%= user = micrpost.user rescue User.find(micrpost.user_id)%>
	<% if current_user?(user) %>
	<td>
		<%= link_to "delete", micrpost, :method => :delete,
		                                 :confirm => "you sure?",
										 :title => micrpost.content %>
	</td>
	<% end %>
</tr>